{% block title %}Logowanie{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Logowanie</h1>
    {{ form(form) }}
    {{ error }}
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}